.logo {
    // .logo__header
    &__header {
        // .logo__header__wrapper

        &__wrapper {
            display: flex;
            align-items: center;
        }

        // .logo__header__img
        &__img {
            margin-right: 9px;

            img {
                margin-bottom: 9px;
            }
        }

        // .logo__header__text
        &__text {
            color: #34C759;
            font-weight: 900;
            letter-spacing: 3.1px;
            font-family: Roboto;
        }
    }
}
