.main {
    background: url("../../../assets/main__bg.png") center / cover no-repeat;
    min-height: 1250px;

    &::after {
        content: "";
        display: inline-block;
        height: 2px;
        width: 100%;
        background: #FFF;
        opacity: 0.1;

    }

    // .main__container
    &__container {
    }

    // .main__content
    &__content {
    }
}

.content {
    // .content__main
    &__main {
    }
}
