.main {
    background: url("../../../assets/main__bg.png") center / cover no-repeat;
    min-height: 100vh;


    // .main__container
    &__container {
    }

    // .main__content
    &__content {
    }
}

.content {

    // .content__main
    &__main {
        margin-bottom: 164px;
    }

    // .content__main-wrapper
    &__main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    // .content__main-info
    &__main-info {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

.wrapper {
    // .wrapper__main
    &__main {
        // .wrapper__main__title
        &__title {

            p {
                color: #FFF;
                font-size: 72px;
                font-weight: 400;
                letter-spacing: 7.2px;
                text-transform: capitalize;

                span {
                    color: #FFF;
                    font-size: 72px;
                    font-weight: 700;
                    letter-spacing: 7.2px;
                    text-transform: capitalize;
                }
            }

            margin-bottom: 16px;
        }

        // .wrapper__main__subtitle
        &__subtitle {
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.62;
            letter-spacing: -0.2px;

            opacity: 0.7;

            max-width: 594px;
            margin-bottom: 40px;
        }

        // .wrapper__main__btn
        &__btn {

            margin-bottom: 74px;
        }
    }
}





















