.work {
    // .work__container
    &__container {
    }

    // .work__content
    &__content {
    }
}

.content {
    // .content__work
    &__work {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 120px;
    }

    // .content__work-header
    &__work-header {
        text-align: center;

        .header__about__title {
            margin-bottom: 30px;
        }

        p {
            color: #D9D9D9;

            font-size: 36px;
            font-weight: 400;

            line-height: 2.5;
            letter-spacing: 7.2px;
            text-transform: capitalize;

            span {
                top: -35px;
                left: -8px;
            }

        }

        &::after {
            content: "";
            display: inline-block;
            text-align: center;

            height: 2px;
            width: 24%;

            background: #34c759;

            margin-bottom: 59px;

        }
    }

    // .content__work-cards
    &__work-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.cards {
    // .cards__work
    &__work {
    }
}


